---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={`https://github.com/${import.meta.env.BIODROP_USERNAME}.png`} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-900 text-white">
    <slot />
  </body>
</html>
